
/* .userSide {
  flex: 0.3;
} */

#userName {
  text-align: center;
  margin-top: 10%;
  height: 60%;
}

#userName button {
  margin-top: 20%;
}

#userPower {
  margin-top: 20%;
}

#rankImg {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: 20%;
}

.userRankList {
  text-align: left;
  margin-top: 80px;
  list-style-type: none;
}

.userRankList li {
  padding: 10px;
}