
#userInfo {
  text-align: center;
  margin-top: 10%;
  height: 60%;
  background-color: white;
}

#userInfo button {
  margin-top: 20%;
}

#userPower {
  margin-top: 20%;
}

#rankImg {
  display: flex;
  align-items: center;
  width: 65%;
  margin-left: 20%;
}

#userRank {
  margin-top: 50%;
  background-color: white;
}

.userRankList {
  list-style-type: none;
}